*{
    margin: 0;
    padding: 0;
}

body{
    color: #6B6572;
    font-family: 'Inter', sans-serif;

    padding-bottom: 3.75rem;
}



/*top page*/

nav {
    background-color: #E0DCE4;
    z-index: 1;
    
}

nav #img-container {
    display: flex;
    align-items: center; 
    justify-content: center;

    padding-top: 4.875rem;
    padding-bottom: 5rem;
}


@media (min-width: 80rem){

    nav #img-container{
        padding-top: 4.5rem;
        padding-bottom: 5rem;
    }

    nav #img-container img{
        width: 13.125rem;
        height: 4.5rem;
    }
}

/*input*/

#new-task {
    display: flex;
    justify-content: center;
    position: absolute; 
    z-index: 2; 
    left: 50%; 
    transform: translateX(-50%); 
    top: calc(4.875rem + 1.75rem + 3.6875rem); 
    gap: 8px;
}

#new-task {
    display: flex;            
    align-items: center;      
    gap: 0.5rem;              
}

#new-task input {
    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    
    background: #F0EDF2;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    cursor: pointer;

    width: 16.6875rem;           
    height: 3.25rem;
    padding-left: 1.125rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid #E0DCE4;
}

#new-task input:focus {
    border-color: #9359F3;
    outline: none;
}

@media (min-width: 80rem) {
    #new-task input {
        width: 46rem;
    }
}


#new-task button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    cursor: pointer;

    width: 3.25rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background-color: #6F3CC3;
    color: #E0DCE4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-task button:hover {
    background-color: #9359F3;
}

.button-text {
    display: none;
}

@media (min-width: 80rem) {
    #new-task {
        top: calc(4.875rem + 3.3125rem + 3.6875rem);
    }

    .button-text {
        display: inline;
    }

    #new-task button {
        width: auto;
        padding: 0 12px;
    }
}

/*end button*/

/*task*/

.task {
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    
    
    
    width: 20.4375rem;
    padding-top: 3.4375rem;
}

@media (min-width: 80rem){
    .task{
        width: 46rem;
        padding-top: 4.9375rem;
    }
}

#info{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
    border: none;
}

#info #task-1 span{
    padding: 4px 12px;
    align-items: center;
    justify-content: center;

    border-radius: 999px;

    background-color: #DDD2EF;
    color: #6F3CC3;
}

#info #task-1 strong{
    color: #6B6572;
    font-size: 14px;
    font-weight: 600;
    
}

#info #task-2 span{
    padding: 4px 12px;
    align-items: center;
    justify-content: center;

    border-radius: 999px;

    background-color: #BFE3D0;
    color: #2D6C4A;
}

#info #task-2 strong{
    color: #6B6572;
    font-size: 14px;
    font-weight: 600;
}

/*end task*/

/*list*/
.base-list{
    width: 327px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-left: 12px;
    padding-right: 12px;
    gap: 0.75rem;
    border-radius: 0.5rem;
    border: 2px solid #D1CBD7; 

    overflow: hidden;           
    text-overflow: ellipsis;   
    white-space: nowrap;       
    max-width: 100%;           
    display: flex;             
    align-items: center;
}

.base-list p {
    flex: 1;                   
    margin: 0;                
    overflow: hidden;          
    text-overflow: ellipsis;  
    white-space: normal;      /* Permite a quebra de linha */
    word-wrap: break-word;    /* Garante a quebra em palavras longas */
}

.base-list .task-content {
    display: flex;
    align-items: center;
    gap: 8px; 
}




.base-list .task-content p {
    color: #6B6572;
    font-size: 14px;
    font-weight: 400;
    white-space: normal;      /* Permite a quebra de linha */
    overflow: hidden;           
    text-overflow: ellipsis;    
    max-width: calc(100% - 40px);
    word-wrap: break-word;    /* Garante a quebra em palavras longas */
}

.base-list button{
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    border: none;
    background-color: transparent;
}

@media (min-width: 80rem){
    .base-list{
        width: 46rem;
        padding-left: 16px;
        padding-right: 16px;
       
    }

    .base-list p{
        display: flex;
        align-items: center;
        justify-content: center;

        width:39.75rem;
        height: 2.5rem;

        white-space: normal;      /* Permite a quebra de linha */
    word-wrap: break-word;
    }

    .base-list s{
        display: flex;
        align-items: center;
        justify-content: center;
        
        width:39.75rem;
        height: 2.5rem;
    }
}

/*end list*/

/*to fill in*/

#fill{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 65%);
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 20.4375rem;
    padding-top: 2.5rem;
 

    gap: 16px;
    border-top: 1px solid #E0DCE4;
}

#fill strong{
    color: #6B6572;
    font-size: 14px;
    font-weight: 600;
}

#fill p{
    color: #6B6572;
    font-size: 14px;
    font-weight: 400;
}

@media (min-width: 80rem) {
    #fill{
        width: 46rem;
        padding-top: 4rem;
        
        transform: translate(-50%, 75%);
    }

    #fill img{
        width: 49px;
        height: 48px;
    }
}

/*end to fill in*/



/*fill*/

/*tasks*/
#list{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#list ul{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#list li{
    list-style: none;
}


#tempo{
    background-color: #E0DCE4;     
}

#tempo p{
    font-size: 14px;
    font-weight: 400;
    color: #262428;
}

#completed p{
    font-size: 14px;
    font-weight: 400;
    color: #6B6572;
}


/*end tasks*/
